body {
  background-color: rgb(24, 24, 24);
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
}

input {
  position: fixed;
  opacity: 0;
}

label {
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
label::before {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
label .exie {
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 3;
  width: 2em;
  height: 2em;
  margin: 0;
  padding: 0;
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
label .exie::before,
label .exie .bar, label .exie::after {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 12%;
  background: white;
  content: "";
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
label .exie .bar {
  top: 44%;
}
label .exie::before {
  top: 0;
  transform-origin: top left;
}
label .exie::after {
  bottom: 0;
  transform-origin: bottom left;
}

input:focus + label .exie,
label:hover .exie {
  opacity: 0.75;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  transform: translate3d(0, 0, 0);
  transform: translateX(-100%);
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
nav::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 25em;
  background: #4e0000;
  content: "";
  transform: skewX(15deg) translateX(-100%);
  transform-origin: bottom left;
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@media (min-width: 40em) {
  nav::before {
    width: 40em;
  }
}
nav a {
  margin: 0 1em 1.3em 1.3em;
  font-size: 1.5em;
  color: grey;
  text-decoration: none;
  font-weight: 500;
  transform: translateX(-100%);
  transition: color 0.15s, transform 0.5s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
nav a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  padding: 0;
  height: 2px;
  bottom: 0;
  left: 1;
  background-color: white;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}
nav a:nth-child(1) {
  transition-delay: 0s, 100ms;
}
nav a:nth-child(2) {
  transition-delay: 0s, 150ms;
}
nav a:nth-child(3) {
  transition-delay: 0s, 200ms;
}
nav a:nth-child(4) {
  transition-delay: 0s, 250ms;
}
nav a:nth-child(5) {
  transition-delay: 0s, 300ms;
}
nav a:nth-child(6) {
  transition-delay: 0s, 350ms;
}
nav a:hover, nav a:focus {
  color: white;
  filter: brightness(150%);
}

a:hover::before {
  transform: scaleX(1);
}

[id=navcheck]:checked + label::before {
  opacity: 1;
  pointer-events: auto;
}
[id=navcheck]:checked + label .exie::before, [id=navcheck]:checked + label .exie::after {
  width: 141.42%;
}
[id=navcheck]:checked + label .exie::before {
  transform: rotate(45deg) translateY(-50%);
}
[id=navcheck]:checked + label .exie::after {
  transform: rotate(-45deg) translateY(50%);
}
[id=navcheck]:checked + label .exie .bar {
  transform: scale(0.1);
}
[id=navcheck]:checked ~ nav {
  transform: translateX(0);
}
[id=navcheck]:checked ~ nav::before {
  transform: skewX(15deg) translateX(0);
}
[id=navcheck]:checked ~ nav a {
  transform: translateX(0);
}

.mainHeader {
  color: white;
  font-size: 2.4em;
  text-align: center;
  margin: 0;
  padding-top: 1em;
}
.mainHeader:hover {
  color: rgb(109, 10, 109);
}

h2 {
  font-size: 3em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.7em;
  color: rgb(109, 10, 109);
}
h2:hover {
  color: white;
}

#p1 {
  width: calc(42vw + 42vh);
  line-height: 1.4em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.7em;
  color: whitesmoke;
  font-family: "Koulen", cursive;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main {
  background: url("../images/back1.gif");
  background-size: 200vh;
  margin: 0;
  height: 100vh;
}
.main img {
  float: left;
  position: relative;
  width: calc(12vw + 12vh);
  white-space: nowrap;
}

.textBack {
  background-color: rgba(87, 83, 83, 0.5);
  border: 2px solid #4e0000;
  display: inline-block;
}

.footer {
  display: flex;
  padding: 1em;
  justify-content: space-around;
  background-color: #4e0000;
  color: white;
  width: 100%;
}
.footer img {
  width: calc(7vw + 7vh);
  height: calc(7vw + 7vh);
}
.footer dt {
  padding-bottom: 1.2em;
  color: darkgrey;
}
.footer dt:hover {
  color: white;
}
.footer dd {
  padding-bottom: 0.5em;
  margin: 0;
  color: rgb(104, 104, 104);
}
.footer dd:hover {
  color: white;
}
.footer #para {
  width: 50%;
}

#learn {
  height: 3.3em;
  font-family: "Press Start 2P", cursive;
  border: 2px solid #4e0000;
  border-radius: 4px;
}
#learn:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
}

.footer2 {
  text-align: center;
  color: white;
}

.gameBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  color: crimson;
  background-image: url("../images/space.webp");
  background-size: contain;
}
.gameBody img {
  width: 100%;
  border-bottom: 5vh solid #0f0f0f;
  margin-bottom: 50vh;
}
.gameBody h1 {
  text-align: center;
  font-size: calc(2vw + 2vh);
}
.gameBody p {
  width: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 2rem;
  font-size: calc(0.75vw + 0.75vh);
}
.gameBody p#progress {
  font-size: calc(1.5vw + 1.5vh);
  margin-top: 20vh;
  margin-bottom: 20vh;
  text-decoration: underline;
}
.gameBody section {
  background-color: rgba(10, 10, 10, 0.5);
  width: 80vw;
  border-radius: 3rem;
  border: 1rem solid rgba(50, 50, 50, 0.5);
  padding-bottom: 10vh;
}
.gameBody section div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;
}
.gameBody section div img {
  width: 30%;
  box-sizing: border-box;
  border: none;
  margin: 0;
  border-radius: 20px;
  border: 5px solid gray;
}
.gameBody .footer {
  display: flex;
  padding: 1em;
  justify-content: space-around;
  background-color: #4e0000;
  color: white;
  width: 100%;
}
.gameBody .footer img {
  width: calc(7vw + 7vh);
  height: calc(7vw + 7vh);
  border: none;
  margin: 0;
}
.gameBody .footer dt {
  padding-bottom: 1.2em;
  color: darkgrey;
}
.gameBody .footer dt:hover {
  color: white;
}
.gameBody .footer dd {
  padding-bottom: 0.5em;
  margin: 0;
  color: rgb(104, 104, 104);
}
.gameBody .footer dd:hover {
  color: white;
}
.gameBody .footer #para {
  width: 50%;
}/*# sourceMappingURL=home.css.map */