a,
a:visited {
  text-decoration: none;
}

body {
  background-color: rgb(24, 24, 24);
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
  width: 100%;
}

section {
  transition: opacity 1s, transform 1s;
  opacity: 0;
  transform: translateY(10%);
  width: 100%;
}

input {
  position: fixed;
  opacity: 0;
}

label {
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
label::before {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
label .exie {
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 4;
  width: 2em;
  height: 2em;
  margin: 0;
  padding: 0;
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
label .exie::before,
label .exie .bar, label .exie::after {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 12%;
  background: white;
  content: "";
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
label .exie .bar {
  top: 44%;
}
label .exie::before {
  top: 0;
  transform-origin: top left;
}
label .exie::after {
  bottom: 0;
  transform-origin: bottom left;
}

input:focus + label .exie,
label:hover .exie {
  opacity: 0.75;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  transform: translate3d(0, 0, 0);
  transform: translateX(-100%);
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
nav::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 25em;
  background: #4e0000;
  content: "";
  transform: skewX(15deg) translateX(-100%);
  transform-origin: bottom left;
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@media (min-width: 40em) {
  nav::before {
    width: 40em;
  }
}
nav a {
  margin: 0 1em 1.3em 1.3em;
  font-size: 1.5em;
  color: grey;
  text-decoration: none;
  font-weight: 500;
  transform: translateX(-100%);
  transition: color 0.15s, transform 0.5s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
nav a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  padding: 0;
  height: 2px;
  bottom: 0;
  left: 1;
  background-color: white;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}
nav a:nth-child(1) {
  transition-delay: 0s, 100ms;
}
nav a:nth-child(2) {
  transition-delay: 0s, 150ms;
}
nav a:nth-child(3) {
  transition-delay: 0s, 200ms;
}
nav a:nth-child(4) {
  transition-delay: 0s, 250ms;
}
nav a:nth-child(5) {
  transition-delay: 0s, 300ms;
}
nav a:nth-child(6) {
  transition-delay: 0s, 350ms;
}
nav a:hover, nav a:focus {
  color: white;
  filter: brightness(150%);
}

a:hover::before {
  transform: scaleX(1);
}

[id=navcheck]:checked + label::before {
  opacity: 1;
  pointer-events: auto;
}
[id=navcheck]:checked + label .exie::before, [id=navcheck]:checked + label .exie::after {
  width: 141.42%;
}
[id=navcheck]:checked + label .exie::before {
  transform: rotate(45deg) translateY(-50%);
}
[id=navcheck]:checked + label .exie::after {
  transform: rotate(-45deg) translateY(50%);
}
[id=navcheck]:checked + label .exie .bar {
  transform: scale(0.1);
}
[id=navcheck]:checked ~ nav {
  transform: translateX(0);
}
[id=navcheck]:checked ~ nav::before {
  transform: skewX(15deg) translateX(0);
}
[id=navcheck]:checked ~ nav a {
  transform: translateX(0);
}

.carousel {
  position: relative;
  margin: auto;
  height: 100vh;
}

.slides {
  transition: opacity 1s;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.slides:nth-of-type(1) {
  opacity: 1;
  z-index: 1;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 2;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.mainHeader {
  color: white;
  font-size: 2.4em;
  text-align: center;
  margin: 0;
  padding-top: 1em;
}
.mainHeader:hover {
  color: rgb(109, 10, 109);
}

h2 {
  font-size: 3em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.7em;
  color: rgb(109, 10, 109);
}
h2:hover {
  color: white;
}

#p1 {
  width: calc(40vw + 40vh);
  max-width: 80%;
  line-height: 1.4em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.7rem;
  color: whitesmoke;
  font-family: "Koulen", cursive;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main {
  background: url("../images/back1.gif");
  background-size: cover;
  margin: 0;
  padding-bottom: 8em;
  background-color: black;
}
.main img {
  float: left;
  position: relative;
  width: calc(11vw + 11vh);
  white-space: nowrap;
  padding: 0;
  margin: 0;
}

.textBack {
  background-color: rgba(87, 83, 83, 0.5);
  border: 2px solid #4e0000;
  display: inline-block;
}

.footer {
  display: flex;
  padding: 1em;
  justify-content: space-around;
  background-color: #4e0000;
  color: white;
  width: 100%;
  box-sizing: border-box;
  font-size: calc(0.5vw + 0.5vh);
  margin-bottom: 0;
}
.footer img {
  width: calc(7vw + 7vh);
  height: calc(7vw + 7vh);
}
.footer dt {
  padding-bottom: 1.2em;
  color: darkgrey;
}
.footer dt:hover {
  color: white;
}
.footer a,
.footer a:visited {
  text-decoration: none !important;
}
.footer dd {
  padding-bottom: 0.5em;
  margin: 0;
  color: rgb(104, 104, 104);
  text-decoration: none !important;
}
.footer dd:hover {
  color: white;
}

#learn {
  height: 3.3em;
  font-family: "Press Start 2P", cursive;
  border: 2px solid #4e0000;
  border-radius: 4px;
}
#learn:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
}

.footer2 {
  text-align: center;
  color: white;
}

@media only screen and (max-width: 1493px) {
  .main {
    height: 150vh;
  }
  .main img {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }

  h2 {
    text-align: center;
  }

  .textBack {
    display: block;
  }
}
#aboutPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/aboutBackground.gif");
  background-size: cover;
  background-attachment: fixed;
}
#aboutPage h1 {
  text-align: center;
  color: white;
  font-size: calc(3vw + 3vh);
  padding-top: 10vh;
}
#aboutPage h1:hover {
  color: #4e0000;
}
#aboutPage #abti {
  background-color: rgba(255, 255, 255, 0.5) !important;
  padding: 1em;
  border: 2px solid black;
  color: black;
}
#aboutPage p {
  margin-left: auto;
  margin-right: auto;
  width: calc(39vw + 39vh);
  max-width: 100%;
  box-sizing: border-box;
  color: white;
  font-size: calc(0.75vw + 0.75vh);
}
#aboutPage main {
  display: flex;
  justify-content: center;
  row-gap: 5vw;
  column-gap: 5vh;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
  box-sizing: border-box;
  margin-bottom: 5vh;
}
#aboutPage .employeeCard {
  width: calc(20vw + 20vh);
  height: calc(20vw + 20vh);
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
#aboutPage .employeeCard:hover .front {
  transform: rotateY(180deg);
}
#aboutPage .employeeCard:hover .back {
  transform: none;
}
#aboutPage .employeeCard p,
#aboutPage .employeeCard h1 {
  width: 100%;
  padding: 0;
}
#aboutPage .employeeCard p {
  width: 100%;
  height: 100%;
  font-size: calc(0.06 * (20vw + 20vh));
  box-sizing: border-box;
  padding-left: calc(0.5vw + 0.5vh);
  padding-right: calc(0.5vw + 0.5vh);
  line-height: 1.2em;
}
#aboutPage .employeeCard h1 {
  font-size: calc(0.07 * (20vw + 20vh));
  text-align: center;
}
#aboutPage .employeeCard .front,
#aboutPage .employeeCard .back {
  position: absolute;
  backface-visibility: hidden;
  transition: transform 1s;
  width: 100%;
  height: 100%;
  background-color: #4e0000;
}
#aboutPage .employeeCard .front img,
#aboutPage .employeeCard .back img {
  width: 100%;
  height: 80%;
}
#aboutPage .employeeCard .back {
  transform: rotateY(180deg);
}

.gameBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  color: crimson;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.gameBody img {
  width: 100%;
  border-bottom: 5vh solid #0f0f0f;
  margin-bottom: 50vh;
}
.gameBody h1 {
  text-align: center;
  font-size: calc(2vw + 2vh);
}
.gameBody p {
  width: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 2rem;
  font-size: calc(0.75vw + 0.75vh);
}
.gameBody p#progress {
  font-size: calc(1.5vw + 1.5vh);
  margin-top: 20vh;
  margin-bottom: 20vh;
  text-decoration: underline;
}
.gameBody div {
  background-color: rgba(10, 10, 10, 0.75);
  width: 80vw;
  border-radius: 3rem;
  border: 1rem solid rgba(50, 50, 50, 0.5);
  padding-bottom: 10vh;
  margin-left: auto;
  margin-right: auto;
}
.gameBody div div {
  width: auto;
  border: none;
  background-color: none;
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;
  margin: none;
}
.gameBody div div img {
  width: 30%;
  box-sizing: border-box;
  border: none;
  margin: 0;
  border-radius: 20px;
  border: 5px solid gray;
}
.gameBody .footer {
  display: flex;
  padding: 1em;
  justify-content: space-around;
  background-color: #4e0000;
  color: white;
  width: 100%;
  box-sizing: border-box;
}
.gameBody .footer img {
  width: calc(7vw + 7vh);
  height: calc(7vw + 7vh);
  border: none;
  margin: 0;
}
.gameBody .footer dt {
  padding-bottom: 1.2em;
  color: darkgrey;
}
.gameBody .footer dt:hover {
  color: white;
}
.gameBody .footer dd {
  padding-bottom: 0.5em;
  margin: 0;
  color: rgb(104, 104, 104);
}
.gameBody .footer dd:hover {
  color: white;
}
.gameBody .footer #para {
  width: 50%;
}

#gamePage {
  background-color: #0d0c0d;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%2328262b' fill-opacity='0.28'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
}
#gamePage h1 {
  font-size: 2.8em;
  padding-bottom: 0.3em;
}
@media only screen and (max-width: 1200px) {
  #gamePage h1 {
    margin-top: 2em;
  }
  #gamePage .game {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
  }
  #gamePage .game img {
    margin-left: auto;
    margin-right: auto;
  }
}
#gamePage h1 {
  text-align: center;
  color: white;
}
#gamePage h1:hover {
  transform: scale(1.1);
  color: rgb(109, 10, 109);
}
#gamePage p {
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: calc(37vw + 37vh);
  line-height: 1.4em;
}
#gamePage .game {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#gamePage .game h3 {
  padding-top: 0.7em;
  color: #4e0000;
  text-align: center;
}
#gamePage .game h3:hover {
  color: white;
  transform: scale(1.1);
}
#gamePage .game img {
  width: calc(18vw + 18vh);
  margin-top: 1em;
  border: 2px solid white;
  border-radius: 6px;
}
#gamePage .game img:hover {
  transform: scale(1.1);
}
#gamePage .game p {
  width: calc(18vw + 18vh);
  padding-bottom: 1.7em;
}
#gamePage form {
  border-top: 1rem solid white;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: gray;
}
#gamePage form label {
  font-size: calc(0.75vw + 0.75vh);
  position: static;
  color: white;
}
#gamePage form input {
  position: static;
  opacity: 1;
  font-family: "Press Start 2P", cursive;
  margin-bottom: 5vh;
  width: 25%;
  height: 10vh;
  font-size: calc(1vw + 1vh);
  color: white;
  background-color: black;
  outline: none;
  position: relative;
}
#gamePage form input:focus {
  border-left: 0.25rem solid white;
  border-bottom: 0.25rem solid white;
}
#gamePage form select,
#gamePage form option {
  font-family: "Press Start 2P", cursive;
  width: 25%;
  height: 10vh;
  cursor: pointer;
  background-color: black;
  color: white;
}
#gamePage form select {
  margin-top: 5vh;
  margin-bottom: 5vh;
}
#gamePage form button {
  margin-bottom: 5vh;
  width: 15%;
  height: 10vh;
  font-family: "Press Start 2P", cursive;
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: calc(1vw + 1vh);
  text-decoration: none;
}

#contactPage {
  margin-top: 10vh;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contactPage .socials {
  display: flex;
  justify-content: center;
  column-gap: 5vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
#contactPage .socials .icon {
  width: calc(5vw + 5vh);
  height: calc(4.5vw + 4.5vh);
  filter: grayscale(1) sepia(0) hue-rotate(0);
  transition: transform 0.2s, filter 0.2s;
  cursor: pointer;
}
#contactPage .socials .icon:hover {
  transform: scale(1.2);
  filter: none;
}
#contactPage h1 {
  font-size: calc(3vw + 3vh);
}
#contactPage p {
  padding-left: 5vw;
  padding-right: 5vw;
  font-size: calc(1.5vw + 1.5vh);
}/*# sourceMappingURL=home.css.map */