$darkred: #4e0000;

//General + Homepage styling
body {
  background-color: rgb(24, 24, 24);
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
}

@import "partials/_navbar.scss";

// carousel
.carousel {
  position: relative;
  margin: auto;
}
.slides {
  display: none;
  widthn: 100vw;
  height: 100vh;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.fade {
  animation-name: fade;
  animation-duration: 4.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.mainHeader {
  color: white;
  font-size: 2.4em;
  text-align: center;
  margin: 0;
  padding-top: 1em;
  &:hover {
    color: rgb(109, 10, 109);
  }
}
h2 {
  font-size: 3em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.7em;
  color: rgb(109, 10, 109);
  &:hover {
    color: white;
  }
}
#p1 {
  width: calc(42vw + 42vh);
  line-height: 1.4em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.7em;
  color: whitesmoke;
  font-family: "Koulen", cursive;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main {
  // background: url("../images/back1.gif");
  // background-size: cover;
  margin: 0;
  background-color: black;
  img {
    float: left;
    position: relative;
    width: calc(11vw + 11vh);
    white-space: nowrap;
    padding: 0;
    margin: 0;
  }
}

.textBack {
  background-color: rgba(87, 83, 83, 0.5);
  border: 2px solid $darkred;
  display: inline-block;
}

.footer {
  display: flex;
  padding: 1em;
  justify-content: space-around;
  background-color: $darkred;
  color: white;
  width: 100%;
  box-sizing: border-box;
  img {
    width: calc(7vw + 7vh);
    height: calc(7vw + 7vh);
  }
  dt {
    padding-bottom: 1.2em;
    color: darkgrey;

    &:hover {
      color: white;
    }
  }
  dd {
    padding-bottom: 0.5em;
    margin: 0;
    color: rgb(104, 104, 104);
    &:hover {
      color: white;
    }
  }
}
#learn {
  height: 3.3em;
  font-family: "Press Start 2P", cursive;
  border: 2px solid $darkred;
  border-radius: 4px;
  &:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
  }
}
.footer2 {
  text-align: center;
  color: white;
}

@media only screen and (max-width: 1493px) {
  .main {
    height: 150vh;
    img {
      float: none;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: center;
    }
  }
  h2 {
    text-align: center;
  }
  .textBack {
    display: block;
  }
}

//Section for the about us page

//Section for the individual games' pages
.gameBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  color: crimson;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  img {
    width: 100%;
    border-bottom: 5vh solid #0f0f0f;
    margin-bottom: 50vh;
  }

  h1 {
    text-align: center;
    font-size: calc(2vw + 2vh);
  }

  p {
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 2rem;
    font-size: calc(0.75vw + 0.75vh);

    &#progress {
      font-size: calc(1.5vw + 1.5vh);
      margin-top: 20vh;
      margin-bottom: 20vh;
      text-decoration: underline;
    }
  }

  section {
    background-color: rgba(10, 10, 10, 0.75);
    width: 80vw;
    border-radius: 3rem;
    border: 1rem solid rgba(50, 50, 50, 0.5);
    padding-bottom: 10vh;
    div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-left: 5vw;
      padding-right: 5vw;
      img {
        width: 30%;
        box-sizing: border-box;
        border: none;
        margin: 0;
        border-radius: 20px;
        border: 5px solid gray;
      }
    }
  }

  .footer {
    display: flex;
    padding: 1em;
    justify-content: space-around;
    background-color: $darkred;
    color: white;
    width: 100%;
    box-sizing: border-box;

    img {
      width: calc(7vw + 7vh);
      height: calc(7vw + 7vh);
      border: none;
      margin: 0;
    }
    dt {
      padding-bottom: 1.2em;
      color: darkgrey;

      &:hover {
        color: white;
      }
    }
    dd {
      padding-bottom: 0.5em;
      margin: 0;
      color: rgb(104, 104, 104);
      &:hover {
        color: white;
      }
    }
    #para {
      width: 50%;
    }
  }
}

// game page
#gamePage {
  background-image: url("images/back1.gif");
  h1 {
    text-align: center;
    color: white;
  }
  .game {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    img {
      width: calc(15vw + 15vh);
    }
    p {
      width: calc(15vw + 15vh);
    }
  }
}
