$darkred: #4e0000;
$purple: rgb(109, 10, 109);

//General + Homepage styling
a,
a:visited {
  text-decoration: none;
}

body {
  background-color: rgb(24, 24, 24);
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
  width: 100%;
}

section {
  transition: opacity 1s, transform 1s;
  opacity: 0;
  transform: translateY(10%);
  width: 100%;
}

@import "partials/_navbar.scss";

// carousel
.carousel {
  position: relative;
  margin: auto;
  height: 100vh;
}
.slides {
  transition: opacity 1s;
  width: 100%;
  height: 100vh;
  opacity: 0;
  position: absolute;
  z-index: -1;
  &:nth-of-type(1) {
    opacity: 1;
    z-index: 1;
  }
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 2;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.mainHeader {
  color: white;
  font-size: 2.4em;
  text-align: center;
  margin: 0;
  padding-top: 1em;
  &:hover {
    color: rgb(109, 10, 109);
  }
}
h2 {
  font-size: 3em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.7em;
  color: rgb(109, 10, 109);
  &:hover {
    color: white;
  }
}
#p1 {
  width: calc(42vw + 42vh);
  line-height: 1.4em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.7em;
  color: whitesmoke;
  font-family: "Koulen", cursive;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main {
  background: url("../images/back1.gif");
  background-size: cover;
  margin: 0;
  padding-bottom: 8em;
  background-color: black;
  img {
    float: left;
    position: relative;
    width: calc(11vw + 11vh);
    white-space: nowrap;
    padding: 0;
    margin: 0;
  }
}

.textBack {
  background-color: rgba(87, 83, 83, 0.5);
  border: 2px solid $darkred;
  display: inline-block;
}

.footer {
  display: flex;
  padding: 1em;
  justify-content: space-around;
  background-color: $darkred;
  color: white;
  width: 100%;
  box-sizing: border-box;
  img {
    width: calc(7vw + 7vh);
    height: calc(7vw + 7vh);
  }
  dt {
    padding-bottom: 1.2em;
    color: darkgrey;

    &:hover {
      color: white;
    }
  }
  a,
  a:visited {
    text-decoration: none !important;
  }
  dd {
    padding-bottom: 0.5em;
    margin: 0;
    color: rgb(104, 104, 104);
    text-decoration: none !important;
    &:hover {
      color: white;
    }
  }
}
#learn {
  height: 3.3em;
  font-family: "Press Start 2P", cursive;
  border: 2px solid $darkred;
  border-radius: 4px;
  &:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
  }
}
.footer2 {
  text-align: center;
  color: white;
}

@media only screen and (max-width: 1493px) {
  .main {
    height: 150vh;
    img {
      float: none;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: center;
    }
  }
  h2 {
    text-align: center;
  }
  .textBack {
    display: block;
  }
}

//Section for the about us page
#aboutPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/aboutBackground.gif");
  background-size: cover;
  background-attachment: fixed;

  main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
    box-sizing: border-box;
  }

  .employeeCard {
    width: calc(20vw + 20vh);
    height: calc(20vw + 20vh);
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    cursor: pointer;
    &:hover {
      .front {
        transform: rotateY(180deg);
      }
      .back {
        transform: none;
      }
    }
    p,
    h1 {
      width: 100%;
      text-align: center;
    }
    p {
      width: 100%;
      height: 100%;
      font-size: calc(0.06 * (20vw + 20vh));
    }
    h1 {
      font-size: calc(2vw + 2vh);
    }
    .front,
    .back {
      position: absolute;
      backface-visibility: hidden;
      transition: transform 1s;
      width: 100%;
      height: 100%;
      background-color: blue;
      img {
        width: 100%;
        height: 80%;
      }
    }
    .back {
      transform: rotateY(180deg);
    }
  }
}

//Section for the individual games' pages
.gameBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  color: crimson;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  img {
    width: 100%;
    border-bottom: 5vh solid #0f0f0f;
    margin-bottom: 50vh;
  }

  h1 {
    text-align: center;
    font-size: calc(2vw + 2vh);
  }

  p {
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 2rem;
    font-size: calc(0.75vw + 0.75vh);

    &#progress {
      font-size: calc(1.5vw + 1.5vh);
      margin-top: 20vh;
      margin-bottom: 20vh;
      text-decoration: underline;
    }
  }

  div {
    background-color: rgba(10, 10, 10, 0.75);
    width: 80vw;
    border-radius: 3rem;
    border: 1rem solid rgba(50, 50, 50, 0.5);
    padding-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
    div {
      width: auto;
      border: none;
      background-color: none;
      padding-bottom: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-left: 5vw;
      padding-right: 5vw;
      margin: none;
      img {
        width: 30%;
        box-sizing: border-box;
        border: none;
        margin: 0;
        border-radius: 20px;
        border: 5px solid gray;
      }
    }
  }

  .footer {
    display: flex;
    padding: 1em;
    justify-content: space-around;
    background-color: $darkred;
    color: white;
    width: 100%;
    box-sizing: border-box;
    img {
      width: calc(7vw + 7vh);
      height: calc(7vw + 7vh);
      border: none;
      margin: 0;
    }
    dt {
      padding-bottom: 1.2em;
      color: darkgrey;

      &:hover {
        color: white;
      }
    }
    dd {
      padding-bottom: 0.5em;
      margin: 0;
      color: rgb(104, 104, 104);
      &:hover {
        color: white;
      }
    }
    #para {
      width: 50%;
    }
  }
}

// game page
#gamePage {
  background-color: #0d0c0d;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%2328262b' fill-opacity='0.28'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
  h1 {
    font-size: 2.8em;
    padding-bottom: 0.3em;
  }
  @media only screen and (max-width: 1200px) {
    h1 {
      margin-top: 2em;
    }

    .game {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      justify-items: center;

      img {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  h1 {
    text-align: center;
    color: white;
  }
  h1 {
    &:hover {
      transform: scale(1.1);
      color: $purple;
    }
  }
  p {
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: calc(37vw + 37vh);
    line-height: 1.4em;
  }
  .game {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    h3 {
      padding-top: 0.7em;
      color: $darkred;
      text-align: center;
      &:hover {
        color: white;
        transform: scale(1.1);
      }
    }

    img {
      width: calc(18vw + 18vh);
      margin-top: 1em;
      border: 2px solid white;
      border-radius: 6px;
      &:hover {
        transform: scale(1.1);
      }
    }
    p {
      width: calc(18vw + 18vh);
      padding-bottom: 1.7em;
    }
  }

  form {
    border-top: 1rem solid white;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: gray;

    label {
      font-size: calc(0.75vw + 0.75vh);
      position: static;
      color: white;
    }

    input {
      position: static;
      opacity: 1;
      font-family: "Press Start 2P", cursive;
      margin-bottom: 5vh;
      width: 25%;
      height: 10vh;
      font-size: calc(1vw + 1vh);
      color: white;
      background-color: black;
      outline: none;
      position: relative;
      &:focus {
        border-left: 0.25rem solid white;
        border-bottom: 0.25rem solid white;
      }
    }

    select,
    option {
      font-family: "Press Start 2P", cursive;
      width: 25%;
      height: 10vh;
      cursor: pointer;
      background-color: black;
      color: white;
    }

    select {
      margin-top: 5vh;
      margin-bottom: 5vh;
    }

    button {
      margin-bottom: 5vh;
      width: 15%;
      height: 10vh;
      font-family: "Press Start 2P", cursive;
      cursor: pointer;
      background-color: black;
      color: white;
      font-size: calc(1vw + 1vh);
      text-decoration: none;
    }
  }
}

// about page! :D
#aboutPage {
  h1 {
    text-align: center;
    color: white;
    font-size: 2.4em;
    &:hover {
      color: $darkred;
    }
  }
  #abti {
    background-color: rgb(245, 245, 245, 0.5);
    border: 2px solid black;
    padding: 1em;
  }
  p {
    margin-left: auto;
    margin-right: auto;
    width: calc(39vw + 39vh);
    color: black;

    font-size: 1.1em;
    line-height: 1.3em;
  }
}

// contact page!!

#contactPage {
  margin-top: 10vh;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .socials {
    display: flex;
    justify-content: center;
    column-gap: 5vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    .icon {
      width: calc(5vw + 5vh);
      height: calc(4.5vw + 4.5vh);
      filter: grayscale(1) sepia(0) hue-rotate(0);
      transition: transform 0.2s, filter 0.2s;
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
        filter: none;
      }
    }
  }

  h1 {
    font-size: calc(3vw + 3vh);
  }

  p {
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: calc(1.5vw + 1.5vh);
  }
}
